In [133]:
import pandas as pd
import os

In [134]:
data =pd.read_csv('socal3.csv')

In [135]:
data.columns = ['A','B','C','D','E','F','G','H','I']

In [136]:
data

,A,B,C,D,E,F,G,H,I
0,52,/home/utente/rental_property/lib/House_dataset...,3633 Capri Court,"Rosamond, CA",312,2,2.0,956,230000
1,53,/home/utente/rental_property/lib/House_dataset...,21410 Brook Drive,"Tehachapi, CA",367,3,2.0,1320,249000
2,54,/home/utente/rental_property/lib/House_dataset...,1456 BRADFORD Avenue,"Rosamond, CA",312,3,2.0,1484,255000
3,55,/home/utente/rental_property/lib/House_dataset...,2737 Hempstead Lane,"Bakersfield, CA",24,3,2.0,1499,233000
4,56,/home/utente/rental_property/lib/House_dataset...,7741 Columbine Avenue,"California City, CA",57,3,2.0,1422,195000
...,...,...,...,...,...,...,...,...,...
15417,15469,/home/utente/rental_property/lib/House_dataset...,4156 Sterlingview Drive,"Moorpark, CA",227,5,4.1,4092,949000
15418,15470,/home/utente/rental_property/lib/House_dataset...,4355 Avenida Prado,"Thousand Oaks, CA",372,5,3.0,2773,949900
15419,15471,/home/utente/rental_property/lib/House_dataset...,12717 Koenigstein Rd Road,"Santa Paula, CA",338,3,2.0,1576,920000
15420,15472,/home/utente/rental_property/lib/House_dataset...,36 Kunkle Street,"Oak View, CA",253,4,2.0,2086,997000
15421,15473,/home/utente/rental_property/lib/House_dataset...,4562 Eastbourne Bay,"Oxnard, CA",261,2,2.0,1216,975000

In [126]:
data2 = pd.read_csv('houses_data.csv')

In [15]:
data2['Location'] = data2.apply(lambda row: 'Naples, Italy' if row['Latitude'] < 41 else 'Rome, Italy', axis=1)

In [127]:
data2

,Description,Name,Latitude,Longitude,Price,UnivalentValue
0,A lakeside cottage with a fishing dock.,Residenza Verde,40.811259,14.269049,687517,15
1,An elegant residence with high ceilings.,Villa delle Rose,40.836194,14.276550,195189,5
2,A rural estate with horse stables.,Casa delle Rose,40.898712,14.221084,868903,21
3,A trendy condo with floor-to-ceiling windows.,Dimora del Sole,40.821681,14.249236,105810,13
4,A suburban home with a finished basement.,Cottage del Sole,40.890574,14.223928,809000,11
...,...,...,...,...,...,...
195,A cozy cottage with a fireplace.,Villa del Mare,41.901782,12.461182,345965,12
196,A countryside house with a guest house.,Tenuta dei Fiori,41.924139,12.455789,831258,23
197,A cozy cottage in a quiet neighborhood.,Casa Verde,41.924162,12.466743,285824,11
198,A chic condo with a private balcony.,Dimora del Mare,41.886480,12.467523,981790,12
199,A charming villa with stunning sea views.,Cottage delle Rose,41.928270,12.509676,204578,18

In [47]:
# Re-defining the Napoli addresses list since it got lost during the error
from geopy.geocoders import Nominatim

# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")
from tqdm import tqdm

In [48]:
addresses_napoli = [
    "Via Roma, 1, Napoli", "Via Toledo, 5, Napoli", "Piazza del Plebiscito, 10, Napoli", "Via Chiaia, 15, Napoli",
    "Corso Umberto I, 20, Napoli", "Via dei Tribunali, 25, Napoli", "Via Partenope, 30, Napoli",
    "Via San Gregorio Armeno, 35, Napoli", "Via Spaccanapoli, 40, Napoli", "Via Duomo, 45, Napoli",
    "Via Foria, 50, Napoli", "Via Santa Lucia, 55, Napoli", "Via Caracciolo, 60, Napoli", "Via Marina, 65, Napoli",
    "Via Mergellina, 70, Napoli", "Via Santa Brigida, 75, Napoli", "Via Posillipo, 80, Napoli", "Via Dante, 85, Napoli",
    "Via San Carlo, 90, Napoli", "Via Medina, 95, Napoli", "Via Salvator Rosa, 100, Napoli", "Via Tribunali, 105, Napoli",
    "Via Depretis, 110, Napoli", "Via Mezzocannone, 115, Napoli", "Via Corso Vittorio Emanuele, 120, Napoli",
    "Via Pignasecca, 125, Napoli", "Via Orazio, 130, Napoli", "Via Aniello Falcone, 135, Napoli", "Via dei Mille, 140, Napoli",
    "Via Tasso, 145, Napoli", "Via Scarlatti, 150, Napoli", "Via Verdi, 155, Napoli", "Via Galiani, 160, Napoli",
    "Via San Martino, 165, Napoli", "Via Palizzi, 170, Napoli", "Via Manzoni, 175, Napoli", "Via Poerio, 180, Napoli",
    "Via Parco Margherita, 185, Napoli", "Via Sanfelice, 190, Napoli", "Via Monte di Dio, 195, Napoli",
    "Via Riviera di Chiaia, 200, Napoli", "Via Santa Teresa, 205, Napoli", "Via Carducci, 210, Napoli",
    "Via Nazario Sauro, 215, Napoli", "Via Crispi, 220, Napoli", "Via Martucci, 225, Napoli", "Via Recco, 230, Napoli",
    "Via Generale Orsini, 235, Napoli", "Via G. Jannelli, 240, Napoli", "Via Leopardi, 245, Napoli",
    "Via A. Manzoni, 250, Napoli", "Via Belvedere, 255, Napoli", "Via Chiatamone, 260, Napoli", "Via Riviera, 265, Napoli",
    "Via P. Giannone, 270, Napoli", "Via Imbriani, 275, Napoli", "Via Nuova Marina, 280, Napoli",
    "Via M. Santacroce, 285, Napoli", "Via M. D'Azeglio, 290, Napoli", "Via D. Morelli, 295, Napoli",
    "Via G. Amendola, 300, Napoli", "Via Salvator Tommasi, 305, Napoli", "Via Santa Chiara, 310, Napoli",
    "Via Filangieri, 315, Napoli", "Via F. Petrarca, 320, Napoli", "Via Nuova Pizzofalcone, 325, Napoli",
    "Via T. Tasso, 330, Napoli", "Via T. D'Aquino, 335, Napoli", "Via Chiaia, 340, Napoli", "Via Santa Maria, 345, Napoli",
    "Via Nuova S. Maria, 350, Napoli", "Via S. Lucia, 355, Napoli", "Via Foria, 360, Napoli", "Via Toledo, 365, Napoli",
    "Via Roma, 370, Napoli", "Via Corso Umberto I, 375, Napoli", "Via Scarlatti, 380, Napoli", "Via Chiaia, 385, Napoli",
    "Via Poerio, 390, Napoli", "Via Crispi, 395, Napoli", "Via Partenope, 400, Napoli", "Via Duomo, 405, Napoli",
    "Via Verdi, 410, Napoli", "Via Manzoni, 415, Napoli", "Via Salvator Rosa, 420, Napoli", "Via Palizzi, 425, Napoli",
    "Via Monte di Dio, 430, Napoli", "Via Posillipo, 435, Napoli", "Via Tasso, 440, Napoli", "Via Pignasecca, 445, Napoli",
    "Via Poerio, 450, Napoli", "Via Santa Lucia, 455, Napoli", "Via Marina, 460, Napoli", "Via Foria, 465, Napoli",
    "Via Aniello Falcone, 470, Napoli", "Via Caracciolo, 475, Napoli", "Via Martucci, 480, Napoli",
    "Via Generale Orsini, 485, Napoli", "Via Leopardi, 490, Napoli", "Via Galiani, 495, Napoli"
]

# Get latitude and longitude for Napoli addresses
napoli_coords = [geolocator.geocode(address) for address in tqdm(addresses_napoli)]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [00:51<00:00,  1.96it/s]

In [50]:
addresses_rome = [
    "Via del Corso, 1, Rome", "Via dei Condotti, 5, Rome", "Piazza Navona, 10, Rome", "Via Veneto, 15, Rome",
    "Via del Tritone, 20, Rome", "Via della Conciliazione, 25, Rome", "Via Nazionale, 30, Rome",
    "Via del Babuino, 35, Rome", "Via della Scrofa, 40, Rome", "Via Cavour, 45, Rome", "Via Sistina, 50, Rome",
    "Via Giulia, 55, Rome", "Via del Governo Vecchio, 60, Rome", "Via Margutta, 65, Rome", "Via dei Fori Imperiali, 70, Rome",
    "Via della Panetteria, 75, Rome", "Via delle Quattro Fontane, 80, Rome", "Via della Croce, 85, Rome",
    "Via del Corallo, 90, Rome", "Via del GesÃ¹, 95, Rome", "Via dei Giubbonari, 100, Rome", "Via del Pellegrino, 105, Rome",
    "Via del Boschetto, 110, Rome", "Via di Ripetta, 115, Rome", "Via di San Teodoro, 120, Rome",
    "Via del Babbuino, 125, Rome", "Via del Gambero, 130, Rome", "Via di Monte Brianzo, 135, Rome",
    "Via della Lupa, 140, Rome", "Via della Lungara, 145, Rome", "Via di Sant'Anna, 150, Rome", "Via di Tor Millina, 155, Rome",
    "Via di Santa Chiara, 160, Rome", "Via del Plebiscito, 165, Rome", "Via del Seminario, 170, Rome",
    "Via del Teatro Valle, 175, Rome", "Via delle Botteghe Oscure, 180, Rome", "Via di Campo Marzio, 185, Rome",
    "Via di San Vincenzo, 190, Rome", "Via di Torre Argentina, 195, Rome", "Via di Tor Sanguigna, 200, Rome",
    "Via di Santa Maria in Via, 205, Rome", "Via di Santa Caterina, 210, Rome", "Via della Vite, 215, Rome",
    "Via del Corallo, 220, Rome", "Via dei Funari, 225, Rome", "Via di Torre Argentina, 230, Rome",
    "Via di Pietra, 235, Rome", "Via di Torre Argentina, 240, Rome", "Via di Santa Maria, 245, Rome",
    "Via della Stelletta, 250, Rome", "Via della Pace, 255, Rome", "Via di Parione, 260, Rome", "Via di Montecitorio, 265, Rome",
    "Via della Pigna, 270, Rome", "Via di Torre Argentina, 275, Rome", "Via di Pietra, 280, Rome",
    "Via di Tor Sanguigna, 285, Rome", "Via di Santa Maria, 290, Rome", "Via della Stelletta, 295, Rome",
    "Via della Pace, 300, Rome", "Via di Parione, 305, Rome", "Via di Montecitorio, 310, Rome", "Via della Pigna, 315, Rome",
    "Via della Stelletta, 320, Rome", "Via della Pace, 325, Rome", "Via di Parione, 330, Rome", "Via di Montecitorio, 335, Rome",
    "Via della Pigna, 340, Rome", "Via della Stelletta, 345, Rome", "Via della Pace, 350, Rome", "Via di Parione, 355, Rome",
    "Via di Montecitorio, 360, Rome", "Via della Pigna, 365, Rome", "Via della Stelletta, 345, Rome"]

In [51]:

# Get latitude and longitude for Rome addresses
rome_coords = [geolocator.geocode(address) for address in tqdm(addresses_rome)]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 75/75 [00:38<00:00,  1.95it/s]

In [80]:
for i in rome_coords[0]:
    print(i)

Via del Corso, Olevano Romano, Roma Capitale, Lazio, 00035, Italia
(41.8468543, 13.0402827)

In [76]:
type(rome_coords)

list

In [112]:
def extract_df(lat,loc_):
    lat_ =[]
    log_ =[]
    add_ =[]
    loc  = []
    for i in tqdm(lat):
        try:
            add_.append(i[0])
            lat_.append(i[1][0])
            log_.append(i[1][1])
            loc.append(loc_)
        except Exception:
            add_.append('Via del Corso, Olevano Romano, Roma Capitale, Lazio, 00035, Italia')
            lat_.append(41.8468543)
            log_.append(13.040282)
            loc.append(loc_)
            
            
    return pd.DataFrame([add_,lat_,log_,loc]).T

In [113]:
rome_df =extract_df(rome_coords,'Rome')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 75/75 [00:00<00:00, 225500.22it/s]

In [114]:
rome_df

,0,1,2,3
0,"Via del Corso, Olevano Romano, Roma Capitale, ...",41.846854,13.040283,Rome
1,"Via dei Condotti, Rocca di Papa, Roma Capitale...",41.761549,12.70984,Rome
2,"10, Piazza Navona, Parione, Municipio Roma I, ...",41.89786,12.472857,Rome
3,"Via Vittorio Veneto, Ludovisi, Municipio Roma ...",41.905851,12.488836,Rome
4,"Limoni, 20, Via del Tritone, Trevi, Municipio ...",41.902026,12.481969,Rome
...,...,...,...,...
70,"Via della Pace, Colle Tocciarello, Villaggio R...",41.766202,12.944742,Rome
71,"Via di Parione, Parione, Municipio Roma I, Rom...",41.898641,12.470789,Rome
72,"Via del Corso, Olevano Romano, Roma Capitale, ...",41.846854,13.040282,Rome
73,"via della Pigna, Genazzano, Roma Capitale, Laz...",41.80426,12.985938,Rome
74,"Via della Stelletta, Sant'Eustachio, Municipio...",41.901619,12.475489,Rome

In [115]:
napoli_df =extract_df(napoli_coords,'Napoli')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [00:00<00:00, 273066.67it/s]

In [116]:
napoli_df

,0,1,2,3
0,"1, Via Roma, Ischia, Napoli, Campania, 80077, ...",40.742212,13.946404,Napoli
1,"Via Toledo, San Ferdinando, MunicipalitÃ 1, Na...",40.838492,14.248376,Napoli
2,"Piazza del Plebiscito, San Ferdinando, Municip...",40.835856,14.248565,Napoli
3,"Via Chiaia, San Ferdinando, MunicipalitÃ 1, Na...",40.836204,14.245766,Napoli
4,"United Colors of Benetton, 4;6;8;10;12;14;16;1...",40.756558,14.443907,Napoli
...,...,...,...,...
95,"Via Caracciolo, Trivio, Casamarciano, Napoli, ...",40.939815,14.541393,Napoli
96,"Via Giuseppe Martucci, Acerra, Napoli, Campani...",40.933934,14.37575,Napoli
97,"Via Generale Giordano Orsini, Pizzofalcone, Mu...",40.830419,14.249508,Napoli
98,"Via Leopardi, Cimitile, Napoli, Campania, 8003...",40.93722,14.52583,Napoli
99,"Via Ferdinando Galiani, Acerra, Napoli, Campan...",40.949964,14.355266,Napoli

In [149]:
d1 = data2[['Description','Name','Price','UnivalentValue']].head(175).reset_index().drop(columns='index')

In [150]:
d2 =pd.concat([napoli_df,rome_df]).reset_index().drop(columns='index')

In [151]:

d3 =data[['B']].sample(frac=1).tail(175).reset_index().drop(columns='index')

In [171]:

d4 =data[['B']].sample(frac=1).tail(15247).reset_index().drop(columns='index')

In [172]:
d4.t

                                                       B
0      /home/utente/rental_property/lib/House_dataset...
1      /home/utente/rental_property/lib/House_dataset...
2      /home/utente/rental_property/lib/House_dataset...
3      /home/utente/rental_property/lib/House_dataset...
4      /home/utente/rental_property/lib/House_dataset...
...                                                  ...
15242  /home/utente/rental_property/lib/House_dataset...
15243  /home/utente/rental_property/lib/House_dataset...
15244  /home/utente/rental_property/lib/House_dataset...
15245  /home/utente/rental_property/lib/House_dataset...
15246  /home/utente/rental_property/lib/House_dataset...

[15247 rows x 1 columns]

In [231]:
import pandas as pd

def image_d(df, n_lists=175, items_per_list=6):
    all_lists = []

    for _ in range(n_lists):
        sampled_list = []
        count = 0

        for idx, d in enumerate(df.sample(100).iterrows()):
            l = d[1].values[0]
            #print(l)
            sampled_list.append(l)
            count += 1
            if count == items_per_list:
                break

        all_lists.append(sampled_list)
    
    return all_lists

In [232]:
d4 = pd.DataFrame(image_d(d4))

In [233]:
d4.columns

RangeIndex(start=0, stop=6, step=1)

In [234]:
d4.columns = ['img_'+str(i) for  i in d4.columns]

In [235]:
d4

,img_0,img_1,img_2,img_3,img_4,img_5
0,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
1,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
2,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
3,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
4,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
...,...,...,...,...,...,...
170,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
171,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
172,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
173,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
174,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...

In [148]:
#img_col = data.sample(frac=1).head(175)[['B']].reset_index().drop(columns='index')

In [121]:
img_col

                                              img_path
0    /home/utente/rental_property/lib/House_dataset...
1    /home/utente/rental_property/lib/House_dataset...
2    /home/utente/rental_property/lib/House_dataset...
3    /home/utente/rental_property/lib/House_dataset...
4    /home/utente/rental_property/lib/House_dataset...
..                                                 ...
195  /home/utente/rental_property/lib/House_dataset...
196  /home/utente/rental_property/lib/House_dataset...
197  /home/utente/rental_property/lib/House_dataset...
198  /home/utente/rental_property/lib/House_dataset...
199  /home/utente/rental_property/lib/House_dataset...

[200 rows x 1 columns]

In [38]:
img_col.columns = ['img_path']

In [236]:
pd.concat([d1,d2,d3,d4],axis=1).to_csv('house_data.csv',index=False, header=False)

In [238]:
pd.concat([d1,d2,d3,d4],axis=1)

,Description,Name,Price,UnivalentValue,0,1,2,3,B,img_0,img_1,img_2,img_3,img_4,img_5
0,A lakeside cottage with a fishing dock.,Residenza Verde,687517,15,"1, Via Roma, Ischia, Napoli, Campania, 80077, ...",40.742212,13.946404,Napoli,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
1,An elegant residence with high ceilings.,Villa delle Rose,195189,5,"Via Toledo, San Ferdinando, MunicipalitÃ 1, Na...",40.838492,14.248376,Napoli,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
2,A rural estate with horse stables.,Casa delle Rose,868903,21,"Piazza del Plebiscito, San Ferdinando, Municip...",40.835856,14.248565,Napoli,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
3,A trendy condo with floor-to-ceiling windows.,Dimora del Sole,105810,13,"Via Chiaia, San Ferdinando, MunicipalitÃ 1, Na...",40.836204,14.245766,Napoli,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
4,A suburban home with a finished basement.,Cottage del Sole,809000,11,"United Colors of Benetton, 4;6;8;10;12;14;16;1...",40.756558,14.443907,Napoli,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,An elegant residence with high ceilings.,Appartamento del Parco,593923,22,"Via della Pace, Colle Tocciarello, Villaggio R...",41.766202,12.944742,Rome,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
171,A charming villa with stunning sea views.,Villa Verde,391746,3,"Via di Parione, Parione, Municipio Roma I, Rom...",41.898641,12.470789,Rome,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
172,A penthouse suite with a skyline view.,Chalet Verde,139893,22,"Via del Corso, Olevano Romano, Roma Capitale, ...",41.846854,13.040282,Rome,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
173,A high-rise apartment with a gym.,Tenuta del Parco,132176,23,"via della Pigna, Genazzano, Roma Capitale, Laz...",41.80426,12.985938,Rome,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...
174,A vintage home with restored features.,Casa Verde,663342,13,"Via della Stelletta, Sant'Eustachio, Municipio...",41.901619,12.475489,Rome,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...,/home/utente/rental_property/lib/House_dataset...